.app{
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.serch-bar{
padding-top: 10vh;
width: 40%;
min-width: 200px;
}